#first {
    color: red;
    text-align: center;
    font-size: large;
    margin-top: 5%;
}

#video1 {
    text-align: center;
}

#video1 video {
    width: 200px;
    height: 350px;
}

#btn1 {
    font-size: 20px;
    text-align: center;
    margin-top: 5%;
      
}

#btn1 a button {
    font-size: 30px;
    border-radius: 10px;
}

#title {
    text-align: center;
}

#poem p{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}




